* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(252, 221, 221, 1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.music_container {
  /* margin-top: 1rem; */
  position: relative;
  display: flex;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  padding: 20px 30px;
  margin: 100px 0px;
  z-index: 10;
}

.img_container {
  position: relative;
  width: 110px;
}
#music_cover {
  position: absolute;
  left: 0;
  bottom: 0;
  width: inherit;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}
.music_container.play #music_cover {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action_btn {
  background: #fff;
  border: none;
  font-size: 1.8rem;
  color: #dfdbdf;
  cursor: pointer;
  padding: 0.8rem;
}

.action_btn.action_btn_big {
  color: #cdc2d0;
  font-size: 2rem;
}

.action_btn:focus {
  outline: none;
}

/* music info */

.music_info {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0rem;
  left: 2rem;
  width: calc(100% - 3.8rem);
  padding: 1rem 1rem 0.2rem 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3 ease-in;
  z-index: 0;
}

.music_container.play .music_info {
  opacity: 1;
  transform: translateY(-100%);
}

#music_title {
  font-size: 1rem;
}


.progress_container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 5px;
  width: 100%;
}
.progress {
  background: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transform: all 0.1s linear;
}

